# Dependencies
node_modules/

# Environment
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
admin-backend/uploads/
admin-backend/temp-uploads/
client-backend/temp-uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db 